{%extends './base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Vinilos</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
{% block body%}

<body style="background-color:bisque">
    <!-- Vinilo -->

    <div class="vinilos">
            <img src="{% static 'img/Portada/fleetwoodmac.jpg' %}" alt="portada fleetwood_mac">
        <br> <br>
        <h1>Fleetwood Mac - Rumours</h1> <br>
        <i><p>$15.000</p></i>
        <button class="boton_carrito"><a href="{% url 'Add' value.Vinilo_id %}"></a> </button>
        <button class="boton_comprar">COMPRAR AHORA</button>
        
    </div>
    <br>
    <div class="vinilos_desc">
        <h2>Descripción</h2>
        <ul>
            <p>Sello: Reprise Records</p>
            <p>Año: 2011</p>
            <p>País: EU.</p>
        </ul>
    </div> 

    <div class="track">
        <div class="track_titulo">
            <h1>Tracks</h1>
        </div>
        <div class="track_canciones">
            <ol>
                <li> Second Hand News</li>
                <li> Dreams</li>
                <li> Never Going Back Again</li>
                <li> Dont Stop</li>
                <li> Go Your Own Way</li>
                <li> Songbird</li>
                <li> The Chain</li>
                <li> You Make Loving Fun</li>
                <li> I Don't Want To Know</li>
                <li> Oh Daddy</li>
                <li> Gold Dust Woman</li>
            </ol>
        </div>
    </div>
{% endblock%}
</body>
</html>