{%extends './base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Vinilos</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
{% block body%}
<body style="background-color: bisque;">

    <!-- Vinilo -->


    <div class="vinilos">
            <img src="{% static 'img/Portada/supertramp_crime2.jpg' %}" alt="portada fleetwood_mac">
        <br> <br>
        <h1>SuperTramp - Crime Of The Century</h1> <br>
        <i><p>$15.000</p></i>
        <button class="boton_carrito">AGREGAR AL CARRITO</button>
        <button class="boton_comprar">COMPRAR AHORA</button>
        
    </div>
    <br>
    <div class="vinilos_desc">
        <h2>Descripción</h2>
        <ul>
            <p>Sello: A&M Records</p>
            <p>Año: 1974</p>
            <p>País: UK</p>
        </ul>
    </div> 

    <div class="track">
        <div class="track_titulo">
            <h1>Tracks</h1>
        </div>
        <div class="track_canciones">
            <ol>
                <li> School</li>
                <li> Bloody Well Right</li>
                <li> Hide In Your Shell</li>
                <li> Asylum</li>
                <li> Dreamer</li>
                <li> Rudy</li>
                <li> If Everyone Was Listening</li>
                <li> Crime Of The Century</li>
            </ol>
        </div>
    </div>
{% endblock%}
</body>
</html>