{%extends './base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Vinilos</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
{% block body%}
<body style="background-color: bisque;">
    <!-- Carrito -->

    <div class="carrito">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div>
                        <h1>Carrito de Compra</h1>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h1>></h1>
                    </div>
                </div>
                <div class="col" style="color:#4b4b4b">
                    <div>
                        <h1 onMouseover="this.style.color='black'" onMouseout="this.style.color='#4b4b4b'">Detalles del Pago</h1>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h1>></h1>
                    </div>
                </div>
                <div class="col" style="color:#4b4b4b">
                    <div>
                        <h1>Pedido Completado</h1>
                    </div>
                </div>
            </div>
        </div>
        

        
        <div class="carrito_articulo px-4 py-3" style="margin-top:10%">
            <i>Su carrito esta vacío</i>
            <i>Si desea agregar algún disco dirigase al <a href="{% url 'Inicio' %}" style="color:black">Inicio</a></i>
        </div>

        <div style="margin-bottom: 20%;">
            <button class="boton_comprar" style="float:right;margin-top:1%">Siguiente</button>
        </div>
    </div>

    
    {% endblock%}
</body>
</html>