{%extends './base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Vinilos</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
{% block body%}
<body style="background-color:bisque">

    <style>
        .form-login {
            background-image: url('{% static "img/otrovin.jpg" %}');
            background-size: cover;
        }
    </style>

    <!-- Header -->

    <header>
        <div class="p-5 text-center bg-image" style="background-image: url(img/viniles.png);height: 175px;background-repeat:no-repeat;background-size:cover;margin-bottom:3%;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Tienda de Vinilos</h1>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" style="margin-top:5px">
                    <div class="col">
                        <a class="text-decoration-none"  href="{% url 'Inicio' %}" style="color: white;font-size:20px;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='white'">
                            Inicio</a>
                    </div>
                    <div class="col">
                        <a class="text-decoration-none"  href="{% url 'Contacto' %}" style="color: white;font-size:20px;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='white'">
                            Contacto</a>
                    </div>
                    <div class="col">
                        <a class="text-decoration-none" href="#" style="color: white;font-size:20px;" onMouseover="this.style.color='grey'" onMouseout="this.style.color='white'">
                            Envios</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Login -->

    <br>

    <div class="login">
        <div class="borderlan">
            <section class="form-login">
                <h5>Registrarse</h5>
                <label for="ingresar_usuario">Ingresar Usuario:</label><br>
                <input class="controls" type="text" name="usuario" id="usuario" autocomplete="on" placeholder="Usuario"><br>
                <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                <input type="email" class="controls" id="exampleFormControlInput1" placeholder="name@example.com">
                <label for="contrasena">Contraseña:</label><br>
                <input class="controls" type="password" name="contrasena" id="contrasena" autocomplete="on" placeholder="Contraseña"><br>
                <label for="lista" class="region">Region:</label>
                    <input class="controls" list="datalistOptions" id="exampleDataList" placeholder="Seleccione su region...">
                    <datalist id="datalistOptions">
                    <option value="Santiago">
                    <option value="Iquique">
                    <option value="Concepcion">
                    <option value="Los Angeles">
                    <option value="Magallanes">
                    </datalist>
                    <br>
                <input class="buttons" type="submit" value="Registrarse">
                

                <hr style="color:white">
            </section>
        </div>
    </div> <br> <br> <br>

      {% endblock%}
</body>
</html>
